
.App {
  height: 900px
}

.pHeader{
  text-align: center;
  color: rgba(18, 146, 146, 0.705);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:50px;
}
.divPost{
  background-color:rgba(222, 184, 135, 0.185);
  margin: auto;
}
.App-header {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 50px;
  text-align: center;
  
}

img{
  height: 300px;
}

.p1{
  
  height: 100px;
  text-align: center;
  background-color: antiquewhite;
  padding-bottom: 20px;
}