.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/***************************************************************************************/
/* H E A D E R */
.hero-image {
  display: flex;
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.N-pf6v2xb_5JfEnPQcR9zwHaEo&pid=Api&P=0&w=252&h=158");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-style: italic;
}

/* P O S T */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid black;
  text-align: center;
  font-size: 10px;
}

.column {
  float: center;
  width: 30%;
  padding: 100px;
  height: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* F O O T E R */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: white;
  text-align: center;
}
